# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.DS_Store
# Build output
dist/
build/
.output/
.nuxt/
dist-ssr
# Cache
.cache/
.temp/
.tmp/
.parcel-cache/
.vite/
.eslintcache
npm-cache/
coverage
# Environment files
.env
.env.*
!.env.example
*.local

/cypress/videos/
/cypress/screenshots/
# TypeScript
*.tsbuildinfo
/cypress/videos/
/cypress/screenshots/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
# OS files
.DS_Store
Thumbs.db